<section><h1>New Note</h1>
<p><h3>Please add your new note below and just click "Create Note", its that simple</h3></p>
<br>
Make sure to include a title for your note! Notes must be atleast 5 characters so be sure to include as much as you can.
<br>
Remember you're sharing this note with your classmates so make it count!
<br>
<%= render 'form' %>

<button id= 'button'><%= link_to 'Back', notes_class1_path %></button>
</section>
  