<section>

    <h1>cNotes</h1>
    <h2>Create and share notes with your classmates</h2>
    <br>
   <button id='button'><%= link_to 'Continue', controller: 'notes' %></button>


<<<<<<< HEAD
 <div>
   <button id='loginB'><%= link_to 'Login!', controller: 'notes' %></button>
 </div>

   
=======

>>>>>>> 814142a9076e747497007fe1f1c0cd20ca144d36


</section>

<!---more git branch testing -->

