<section>

    <h1>cNotes</h1>
    <h2>Create and share notes with your classmates</h2>
    <br>
   <button id='button'><%= link_to 'Continue', controller: 'notes' %></button>




</section>

<!---more git branch testing -->

