<section>

    <h1>cNotes</h1>
    <h3>Create and share notes with your classmates</h3>
   <button id='button'><%= link_to 'Proceed', controller: 'notes' %></button>

   

</section>

<!---more git branch testing -->

