<section>
    <h1>Welcome to (We gotta think of a name)....</h1>
    
    <center><label for 'email'>Email:</label>
    <input type = 'email' id = 'email' placeholder="enter your email here"></center>
    <br><!--This break is crude and can likely be replaced by CSS for effect-->
    <center><label for 'ID'>ID:</label>
    <input type = 'text' id='ID' placeholder="enter your ID here"></center>
    <br>

   <div id="log"><%= link_to 'Login!', controller: 'notes' %></div><!--This is a spoof of a button. Needs to be turned into real button-> 
</section>
<!---just to see if creating my git branch worked>