// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new{
    background-color: white;
    padding-bottom: 420px;
    margin-top: 20px;
}

.b{
    text-decoration: none;
    color: white;
    right: 500;
    margin-left: 400px;
    background-color: #4CAF50;
    font-size: 15px; 
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    border-radius: 4px;
}