// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new{
    background-color: white;
    padding-bottom: 420px;
    margin-top: 20px;
}

section h2{
    margin-top: 0px;

}



input[type=text]{
    width: 100;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    border-radius: 12px;
}

input[type=password]{
    width: 100%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    border-radius: 12px;
}

textarea{
    width: 90%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    resize: none;
    border-radius: 12px;
}

input[type=button], input[type=submit]{
    background-color: #f44336;
    float: center;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

button {

    border-radius: 8px;
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #f44336;
    
}



#addNote{
    border-radius:8px;
    font-size: 200px;
}

#buttonCRUD{
    border-radius: 8px;
    background-color: #f44336;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    color: white;
}


#something{
    color:black;
}

#cent{
    text-align:center;
    
}

#cente{
    text-align:center;
    
}

#text1{
    color:black;
}

#text2{
    color:black;
    border-radius: 8px;
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #add8e6;
}


#link{
    position:relative;
    right:-610px;
}

#note{
    width: 90%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: white;
    resize: none;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

#edit{
    color:black;
}

#title,#note,#edit{

    text-align:center;

}

#table{
    margin-top:-350px;
}

#header{
    font-size:20px;
}

[name=home]{
    position:relative;
    right:-550px;
}


#welcome{
    position:relative;
    right:-275px;
}

#register{
    position:relative;
    right:-200px;
}

.toCenter{
    position:relative;
    right:-480px;
}

[name=myDashboard]{
    position:relative;
    right:-550px;
}

[name=SE]{
    position:relative;
    right:-530px;
}

[name=loggedIn]{
    position:relative;
    top:-200px;
    left:-40px;
    color:black;
}

[name=homealone]{
    position:relative;
    right:-550px;
}
[name=classsnotes]{
    position:relative;
    right:-530px;
}