// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section h2{
    margin-top: 0px;
}



input[type=text]{
    width: 100;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    border-radius: 12px;
}

input[type=password]{
    width: 100%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    border-radius: 12px;
}

textarea{
    width: 90%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #e7e7e7;
    resize: none;
    border-radius: 12px;
}

input[type=button], input[type=submit]{
    background-color: #f44336;
    float: center;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

button {

    border-radius: 8px;
    background-color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}



#addNote{
    border-radius:8px;
    font-size: 200px;
}


#something{
    color:black;
}

#cent{
    text-align:center;
}

#cente{
    text-align:center;
}

#text1, #text2{
    color:black;
}


#link{
    position:relative;
    right:-610px;
}

#note{
    width: 90%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: white;
    resize: none;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
}

#edit{
    color:black;
}

#field{
 color: black;
}