// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section h2{
    margin-top: 0px;
}



#addNote{
    border-radius:8px;
    font-size: 200px;
}

#idk{
    text-align:center;
}
#something{
    color:black;
}

#cent{
    text-align:center;
}

#cente{
    text-align:center;
}

#text1, #text2{
    color:black;
}

#title,#note,#edit{
    text-align:center;
}
#link{
    position:relative;
    right:-610px;
}
#note{
    background-color:white;
}

#edit{
    color:black;
}