// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section h2{
    margin-top: 0px;
}



#addNote{
    border-radius:8px;
    font-size: 200px;
}

#idk{
    margin-left:auto;
    margin-right:auto;
}
#something{
    color:black;
}