<h1>This will be the page that shows all notes and provides access to note actions</h1>
<br>
<h1>Notes for this Class</h1>
<%= link_to 'New note', new_note_path %>

<a href="index">Back to Class Listings</a>