<h1>This will be the page that shows all notes and provides access to note actions</h1>
<br>
<h1>Notes for this Class</h1>
<br>
<br>
<br>
<strong>Click here to make a submit new notes.</strong>
<%= link_to 'New note', new_note_path %>
<br>
<a href="index">Home</a>


