<h1>This will be the page that shows the class notes and provides access to note actions</h1>
<br>
<br>
<strong>Click here to make a new notes.</strong>
<br>
<%= link_to 'New note', new_note_path %>
<Br>
<br>
<strong>Class Notes</strong>
<br>
<br>
<br>
<strong>CLASS NOTES</strong>
<br>
<strong>CLASS NOTES</strong>
<br>
<strong>USER NOTES</strong> (ACTIONS)
<br>
<strong>USER NOTES</strong> (ACTIONS)
<br>
<br>
<br>
<br>
<a href="index">Home</a>


