<h1>This will be the page that shows the users notes and provides access to their note actions</h1>
<br>
<br>
<strong>Click here to make a new notes.</strong>
<br>
<%= link_to 'New note', new_note_path %>
<Br>
<br>
<strong>My Notes</strong>
<br>
<strong>USER NOTES</strong>(ACTIONS)
<br>
<strong>USER NOTES</strong>(ACTIONS)
<br>
<strong>USER NOTES</strong>(ACTIONS)
<br>
<strong>USER NOTES</strong>(ACTIONS)
<br>
<br>
<br>
<br>

<a href="class1Notes">View class notes</a>
<a href="index">Home</a>




