<!--<h1>This page will just DISPLAY a bunch of the class's notes that you can VIEW only</h1>-->
<section>
    <br>
    <br>
    <strong><h2>Class Notes</h2></strong>
    <br>
    <br>
    <br>

    <button class="b"><%= link_to 'Class 1', notes_class1_path %></button>

</section>