<h1>This will be the user homepage once logged in. It will show the class to select to see notes.</h1>
<br>
<h1>Select your class</h1><select name="course">
    <option value="volvo">Lorem</option>
    <option value="volvo">Ipsum</option>
    <option value="volvo">fnsn</option>
    <option value="volvo">vcfg</option>
</select>
<p>
    <a href="class1">Software Engineering</a>
    <br>
</p>


