<h1>This will be the user homepage once logged in. It will show the class to select to see notes.</h1>
<br>
<h2>Select your class</h2><select name="course">
    <option value="lorem">Lorem</option>
    <option value="Ipsum">Ipsum</option>
</select>
<p>
    <a href="class1">Software Engineering</a><!--TODO put this in the dropdown->
    <br>
</p>


