<h1>This will be the user homepage once logged in. It will show the class to select to see notes.</h1>
<br>
<h2>Select your class</h2><select name="course">
    <option>Lorem</option>
    <option value="Ipsum">Ipsum</option>
</select>
<p>
    <button id = 'button'><%= link_to 'Class 1', notes_class1_path %></button><!--TODO put this in the dropdown-->
    <br>
</p>

<!--to put the link in the dropdown just put the following in the dropdown:
<option value="Software Engineering"><a href="class1">Software Engineering</a></option>
the only thing left after that is to make something happen so that you will get to its notes page. maybe by the click of a submit button?
https://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html#method-i-select_tag
-->


