<h1>This will be the user homepage once logged in. It will show the class to select to see notes.</h1>
<br>
<h1>Select your class</h1>
<p>
    <a href="classListing1"><strong>Software Engineering</strong></a>
    <br>
</p>


