
<h1 class="x">New Note</h1>
<br>
<p class="x">Please add your new note below and just click "Submit", its that simple</p><br><br>


<%= render 'form' %>

<%= link_to 'Class 1', notes_class1_path %>
  