// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: black;
    font-size: 60px;
    
}
body {
  background-color: #add8e6;
  margin-top: 20px;
}

div #loginB{
  color: white;
  width: 120px;
  background-color: #4CAF50;
}

div{
  color: white;
  width: 120px;

  padding: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13pt;

  text-decoration: none;
}

section{
  background-color: white;
  text-align: center;
  margin-top: 70px;
  margin-left: 180px;
  margin-right: 180px;
  padding-top: 50px;
  padding-bottom: 75px;
  border-radius: 16px;
}

#text1{
    color:black;
}

